<!DOCTYPE html>
<html>

<head>
    {{template "header"}}
</head>

<body>
    {{template "information" .}}
    <h1>Unused HDInsight</h1>
    <table border=1>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Resource Group</th>
            <th>Kind</th>
            <th>Node</th>
            <th>CreatedDate</th>
        </tr>
        {{range $i,$v := .Data.UnusedHDInsight}}
        <tr>
            <th>{{add $i 1}}</th>
            <td>{{$v.Name}}</td>
            <td>{{$v.ResourceGroup}}</td>
            <td>{{$v.Properties.ClusterDefinition.Kind}}</td>
            <td>
                {{range $j,$r := .Properties.ComputeProfile.Roles}}
                <span>+ {{$r.Name}} - {{$r.HardwareProfile.VMSize}}({{$r.TargetInstanceCount}})</span><br>
                {{end}}
            </td>
            <td>
                {{$v.Properties.CreatedDate}}
            </td>
        </tr>
        {{end}}
    </table>

</body>

</html>